#containerTalk{
    width: 100%;
    height: 100vh;
    background: var(--background-chat-color);
    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#containerTalk .containerHeader{
    width: 100%;
    background-color: var(--background-header-color);

    display: flex;
    flex-direction: row;
    align-items: center;
}

#containerTalk .containerHeader div#block img{
    width: 40px;
    height: 40px;
    margin: 10px 10px 15px 10px;
}

#containerTalk .containerHeader .headerText{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}
#containerTalk .containerConversation{
    display: flex;
    flex:1;
    flex-direction: column;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

#containerTalk .containerConversation .showConversation{
    margin-top: 10px;

    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;

    text-align: center;

    color: #337AB7;
    text-decoration: none;

}
#containerTalk .containerConversation .conversationBackground{
    display: flex;
    align-items: center;
    justify-content: center;
}

#containerTalk .containerConversation .conversationBackground img{
    width:50%;
    max-width:50%;
    height: auto;
    padding: 0 10%;
    margin-top: 10%;
}


#containerTalk  .sendMessage{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F1EE;
}

#containerTalk .sendMessage input{
    height: 38px;
    width: 567px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);

}
